[submodule "themes/novela"]
	path = themes/novela
	url = https://github.com/forestryio/hugo-theme-novela.git
[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curtistimson/hugo-theme-massively.git
[submodule "themes/soho"]
	path = themes/soho
	url = git@github.com:alexandrevicenzi/soho.git
[submodule "themes/LeaveIt"]
	path = themes/LeaveIt
	url = https://github.com/liuzc/LeaveIt.git
